@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "SUSE_Mono";
  src: url("/fonts/SUSE_Mono/SUSEMono-VariableFont_wght.ttf");
}

/* Smallest size */
#container {
  font-family: "SUSE_Mono";
  font-size: 20pt;
  display: grid;
  grid-template-rows: 10vh 30vh 20vh auto auto;
  grid-template-columns: 100%;
  height: 100vh;
  background-color: #eaf6ff;
  width: 100%;
}

body {
  padding-bottom: 60px;
  background-color: #eaf6ff;
}

nav {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  background-color: #2a2a72;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#nav-logo {
  height: 3vmax;
  width: 3vmax;
}

#navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  margin: 0 0;
}

#navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

li a {
  text-decoration: none;
}

.nav-items {
  list-style-type: none;
  font-size: 1rem;
  margin-left: 1em;
}

.title {
  font-family: "Oswald";
  font-size: 2rem;
  color: #ffa400;
  margin: 0 0;
}

#right-logo {
  height: 3vmax;
  width: 3vmax;
  /* margin: 0 0.3em; */
  padding: 0 1rem;
}

.hero {
  background-color: purple;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  background-image: url("/img/hero.jpg");
  height: 30vh;
  background-position: center;
  position: relative;
  background-size: cover;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;
}

#banner {
  background-color: #009ffd;
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  height: 20vh;
  margin: 0 auto;
}

#banner-text {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-size: 12pt;
}

#banner-divider {
  border-left: solid 4px #2a2a72;
  display: none;
  height: 50%;
  padding: 5px;
  margin: 0 auto;
}

.banner-img {
  display: none;
  width: 400px;
  height: 150px;
  margin: 0 auto;
}

#main {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  margin: 0 30px;
}

#main-content {
  background-color: #eaf6ff;
  display: grid;
}

.figure-img {
  border: solid 5px #2a2a72;
  padding-right: 0px;
  width: 15%;
  height: 15%;
  margin: 0px -30px 20px 20px;
}

figure {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

section .main-content-item p {
  display: block;
  font-style: italic;
  font-size: 2vmax;
  text-wrap: wrap;
  text-align: left;
  padding-left: 10px;
  width: 70%;
  color: rgb(88, 88, 88);
}

figcaption {
  text-align: left;
  font-size: 1rem;
  width: 70%;
  margin-left: -30px;
}

a:link {
  color: yellow;
}

a:visited {
  color: #ffa400;
}

a:active {
  color: green;
}

h1 {
  font-size: 5vmax;
}

.header-colour {
  color: #2a2a72;
}

aside .main-content-item p {
  font-size: 20pt;
}

h2 {
  font-size: 4vmax;
  text-align: left;
  padding-left: 10px;
}

h3 {
  font-size: 3vmax;
  text-align: left;
  margin: 0 auto;
}

h4 {
  font-size: 2.5vmax;
  margin: 0 auto;
}

.aside-header {
  padding-top: 1rem;
  padding-bottom: 1.2rem;
}

p {
  font-size: 2vmax;
}

.hero-text {
  color: white;
  margin: 0 auto;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  align-self: self-end;
  font-size: 5vmax;
}

.main-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-content-item {
  border-top: solid 3px #2a2a72;
}

section .main-content-item h2 {
  width: 70%;
  font-size: 2rem;
}

.timewaste-button {
  font-family: "SUSE Mono";
  background-color: #009ffd;
  padding: 5px 10px;
  margin: 0 auto;
  border: solid 3px #2a2a72;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
}

.timewaste-button:active {
  background-color: azure;
}

.button-img {
  height: 30px;
  padding: 3px;
  padding-right: 1rem;
  margin: 0 auto;
}

.buttons {
  float: left;
  margin: 1rem 0;
}

footer {
  background-color: #2a2a72;
  width: 100%;
  height: auto;
  grid-row: 5 / span 1;
}

#credits {
  color: #ffa400;
  text-align: center;
}

.banner-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Largest */
@media screen and (min-width: 1281px) {
  #nav-logo {
    padding-left: 1rem;
  }

  .aside-header {
    font-size: 2rem;
    margin-top: 8%;
  }

  #container {
    display: grid;
    grid-template-rows: 15vh 40vh 20vh auto auto;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .figure-img {
    margin-top: 5%;
    height: 25%;
    width: 25%;
  }

  #main-content {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  section {
    grid-column: 1 / span 1;
  }

  aside {
    grid-column: 2 / span 1;
    padding-left: 30px;
  }

  .main-heading h1 {
    font-size: 3.5vmax;
  }

  .main-heading h2 {
    font-size: 2vmax;
  }

  aside .main-content-item {
    border-top: none;
  }

  .main-content-item h2 {
    margin-top: 10px;
  }

  .main-content-item h3 {
    font-size: 1.5vmax;
  }

  .main-content-item h4 {
    font-size: 1vmax;
  }

  section .main-content-item p {
    width: 75%;
    font-size: 1.2rem;
  }

  .hero {
    height: 40vh;
  }

  .title {
    font-size: 3rem;
  }

  .nav-items {
    font-size: 2rem;
  }

  #banner {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #banner-divider {
    display: block;
    padding: 10px;
  }

  .banner-img {
    display: inline;
  }

  .banner-flex {
    width: 90%;
  }

  #banner-text {
    display: block;
    font-size: 10pt;
    margin: 0 auto;
    width: 30%;
    margin-left: -1rem;
  }

  aside .main-content-item p {
    font-size: 20pt;
  }

  figcaption {
    font-size: 1rem;
  }
}

/* Middle */
@media screen and (min-width: 701px) and (max-width: 1280px) {
  .title {
    font-size: 30pt;
  }

  #container {
    grid-template-rows: 15vh 30vh 30vh auto auto;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  h2 {
    font-size: 2.5rem;
  }

  #right-logo {
    height: 4vmax;
    width: 4vmax;
  }

  .nav-items {
    font-size: 1.3rem;
    margin-left: 0.5em;
  }

  #banner {
    height: 30vh;
  }

  #banner-text {
    font-size: 9pt;
  }

  .figure-img {
    width: 20%;
    height: 20%;
  }

  .banner-img {
    display: inline;
  }
}
